# Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# Parcel
dist/
.parcel-cache/
.cache/

# OS Files
.DS_Store
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
*~ 